@model IEnumerable<FlightManagement.Models.Aircraft>

@{
    ViewData["Title"] = "Aircraft list";
}

<h1>Aircraft list</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsumptionPerKm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TakeOffDistance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TakeOffEffort)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsumptionPerKm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TakeOffDistance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TakeOffEffort)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
